body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
}

h1,
h2,
h3 {
    text-transform: uppercase;
}

h2 {
    text-align: center;
    color: white;
    
}

h3 {
    color: #FA382F;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

p,
ul {
    font-size: 17px;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding-left: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

/* HEADER */

header {
    height: 405px;
    background-image: url("./assets/photo-1597304055693-c5a2c84d62e4.jpg");
    background-position: bottom;
    background-size: cover;
    color: white;
    padding: 105px 36px 0 36px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.icon-container {
    display: flex;
    margin-bottom: 10px;
}

.icon {
    height: 35px;
    width: 35px;
    margin-left: 5px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-img {
    height: 17px;
    width: 17px;
    padding: 10px;
}

.header-text {
    align-self: flex-start;
}

.portfolio-owner {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.52px;
}

.portfolio-owner.name {
    font-weight: bold;
    padding-left: 15px;
}

.main-occupation {
    font-size: 40px;
    font-weight: 900;
    margin: -5px 0 -17px 0;
    line-height: 1;
}

.sideline {
    
    font-size: 24px;
    font-weight: bold;
}

.profile-pic {
    border: 3px solid white;
    border-radius: 50%;
    height: 155px;
    margin-bottom: -12px;
}

/* MAIN CONTENT */

.portfolio-section {
    padding: 36px;
    text-align: center;    
}

.portfolio-section h2 {
    background: #FA382F;
    font-size: 22px;
    display: inline-block;
    margin-top: 22px;
    padding: 3px 10px;
}

.grey {
    background: #F4F4F4;
}

.red {
    color: #FA382F;
}

/* SECTION 1 - ABOUT ME */

.about-me {
    padding-top: 65px;
    display: flex;
    align-items: flex-start;
}

.about-me-text {
    text-align: justify;
}

.decoration {
    background: #FA382F;
    display: inline-block;
}

.line {    
    height: 3px;
    width: 40px;    
    margin-bottom: 3px;   
}

.dot {    
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 7px 0 -12px;
}


/* SECTION 2 - TECH */

/* SECTION 3 - FEATURED PROJECTS */

/* SECTION 4 - MY THOUGHTS */

/* SECTION 5 - SKILLS */

.skills-container {
    display: flex;
    flex-wrap: wrap;
}

.skill-container {
    width: 40%;
    flex-grow: 1;
}

/* SECTION 6 - FOR MORE */

.icon-container.red {
    justify-content: space-evenly;    
    max-width: 650px;
    margin: auto;

}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 18px 0 28px 0;
}

.icon.red {
    height: 50px;
    width: 50px;
    border: 3px solid #FA382F;
    margin: 0 20px 0 20px;
}
.icon-img.red {
    height: 22px;
    width: 22px;
    
}

.icon-text {
    font-size: 11px;
    color: #FA382F;
    font-weight: 700;
    text-transform: uppercase;
}

/* FOOTER */

footer {
    background: #013D61;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 63px 0;
}

footer h3 {
    font-size: 21px;
}

/* MEDIA QUERIES */

@media (min-width: 700px) {
    header {
        padding: 75px 75px 0 75px;
    }

    .profile-pic {
        height: 200px;
    }
}

@media (min-width: 900px) {
    header {
        padding: 100px 100px 0 100px;
    }

    .profile-pic {
        height: 250px;
    }
}