@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
}

h1,
h2,
h3,
.uppercase {
    text-transform: uppercase;
}

h2 {
    text-align: center;
    color: white;
    
}

h3 {
    color: #FA382F;
    font-size: 21px;
}

p,
ul,
h4 {
    font-size: 17px;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding-left: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.max-width {
    max-width: 1100px;
    margin: auto;
}

.grey {
    background: #F4F4F4;
}

.red {
    color: #FA382F;
}

.bold {
    font-weight: 700;
}

/* HEADER */

header {   
    background-image: url("./assets/photo-1597304055693-c5a2c84d62e4.jpg");
    background-position: bottom;
    background-size: cover;
    color: white;
    padding: 105px 36px 0 36px;
    
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.icon-container {
    display: flex;
    margin-bottom: 10px;
}

.icon {
    height: 35px;
    width: 35px;
    margin-left: 5px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-img {
    height: 17px;
    width: 17px;
}

.header-text {
    align-self: flex-start;
    max-width: 650px;

}

.portfolio-owner {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.52px;
    margin-top: 20px;
}

.portfolio-owner.name {
    font-weight: bold;
    padding-left: 15px;
}

.main-occupation {
    font-size: 40px;
    font-weight: 700;
    margin: -5px 0 -20px 0;
    line-height: 1.15;
}

.sideline {    
    font-size: 24px;
    font-weight: bold;

}

.profile-pic {
    border: 3px solid white;
    border-radius: 50%;
    height: 155px;
    margin-bottom: -12px;
    
}

/* MAIN CONTENT */

.portfolio-section {
    padding: 36px;
    text-align: center;    
}

.portfolio-section h2 {
    background: #FA382F;
    font-size: 22px;
    display: inline-block;
    margin-top: 22px;
    padding: 3px 10px;
}

/* SECTION 1 - ABOUT ME */

.about-me {    
    padding-top: 65px;
    display: flex;
    align-items: flex-start;
}

.about-me-text {
    text-align: justify;
}

.decoration {
    background: #FA382F;
    display: inline-block;
}

.line {    
    height: 3px;
    width: 40px;    
    margin-bottom: 3px;   
}

.dot {    
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 0 7px 0 -16px;
}


/* SECTION 2 - TECH */

/* SECTION 3 - FEATURED PROJECTS */

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project-img {
    width: 100%;
    margin-top: 15px;
}

.summary {
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.tags {
    font-size: 9px;
    display: flex;
    margin: -10px 0 40px 0;
}

.tags li {
    background: #FDDFE7;
    padding: 2px 10px;
    margin-right: 3px;
}

.featured-projects h3 {
    font-size: 21px;
    margin: 75px 0 40px 0;

}

/* SECTION 4 - MY THOUGHTS */

.my-thoughts {
    margin-bottom: 20px;
}

.my-thoughts img {
    width: 100%;
    margin: 25px 0;
}

.date {
    text-align: left;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0;
}

.my-thoughts h3 {
    margin: 70px 0 30px 0;
}

.my-thoughts h4 {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 21px;
    margin: 0;
}

.my-thoughts p {
    line-height: 1.9;
    margin-top: 0;
}

.more-thoughts-article {
    margin-bottom: 20px;
}

.more-thoughts {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin: 0;
}

/* SECTION 5 - SKILLS */

.skills-container {
    display: flex;
    flex-wrap: wrap;
}

.skill-container {
    width: 40%;
    flex-grow: 1;
}

.skills h3 {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

/* SECTION 6 - FOR MORE */

.icon-container.red {
    justify-content: space-evenly;    
    max-width: 650px;
    margin: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 18px 0 28px 0;
}

.icon.red {
    height: 50px;
    width: 50px;
    border: 3px solid #FA382F;
    margin: 0 20px 0 20px;
}

.icon-img.red {
    height: 22px;
    width: 22px;
    
}

.icon-text {
    font-size: 11px;
    color: #FA382F;
    font-weight: 700;
    text-transform: uppercase;
}

/* FOOTER */

footer {
    background: #013D61;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 63px 0 50px 0;
}

footer h2 {
    font-size: 21px;
    margin: 0;
}

footer a {
    color: white;
}

/* MEDIA QUERIES */

@media (min-width: 700px) {
    p {
        font-size: 22px;
    }

    .icon {
        height: 50px;
        width: 50px;
        margin-left: 7px;
    }
    
    .icon-img {
        height: 25px;
        width: 25px;
    }

    .portfolio-owner {
        font-size: 21px;
        margin-top: 32px;
    }

    .main-occupation {
        font-size: 61px;
        margin:-7px 0 -35px 0;
    }

    .sideline {
        font-size: 37px;
    }

    .profile-pic {
        height: 225px;
    }

    .portfolio-section {
        padding: 73px 36px 68px 36px;
    }

    .portfolio-section h2 {
        font-size: 35px;
    }

    .line {    
        height: 4px;
        width: 60px;    
        margin-bottom: 5px;
    }
    
    .dot {    
        height: 15px;
        width: 15px;
        margin-left: -20px;
    }

    .summary {
        font-size: 20px;
    }

    .featured-project {
        width: 40%;
        flex-grow: 1;
    }
    
    .featured-project:first-child {
        margin-right: 36px;
    }

    .featured-projects h3 {
        font-size: 29px;
    }

    .tags {
        font-size: 12px;
    }

    .articles {
        display: flex;
    }

    .my-thoughts-article {
        width: 40%;
        flex-grow: 1;
    }

    .my-thoughts-article:first-child {
        margin-right: 36px;
    }

    .date {
        font-size: 20px;
    }

    .my-thoughts h3 {
        font-size: 29px;
    }

    .more-thoughts {
        font-size: 20px;
    }

    .icon.red {
        height: 100px;
        width: 100px;
        margin: 7px 30px 0 30px;
    }
    
    .icon-img.red {
        height: 38px;
        width: 38px;
        
    }
    
    .icon-text {
        font-size: 18px;
    }

    footer h2 {
        font-size: 29px;
    }

    footer li {
        font-size: 23px;
    }
}

@media (min-width: 1000px) {

    p {
        font-size: 30px;
    }

    header {
        padding-top: 110px;
    }

    .icon {
        height: 70px;
        width: 70px;
        margin-left: 10px;
    }
    
    .icon-img {
        height: 34px;
        width: 34px;
    }
    
    .portfolio-owner {
        font-size: 28px;
        margin-top: 45px;
    }

    .main-occupation {
        font-size: 82px;
        margin:-10px 0 -50px 0;
    }

    .sideline {
        font-size: 50px;
    }

    .profile-pic {
        height: 300px;
        margin-bottom: -30px;
        margin-top: -220px;
    }

    .portfolio-section {
        padding: 110px 36px 100px 36px;
    }

    .portfolio-section h2 {
        font-size: 48px;
        padding: 4px 12px;
    }

    .line {    
        height: 4px;
        width: 80px;    
        margin-bottom: 8px;
    }
    
    .dot {    
        height: 20px;
        width: 20px;
    }

    .summary {
        font-size: 25px;
    }
    
    .featured-project:first-child {
        margin-right: 47px;
    }

    .featured-project img {
        margin: 35px 0 10px 0;
    }

    .featured-projects h3 {
        font-size: 38px;
        margin: 115px 0 75px 0;
    }

    .tags {
        font-size: 16px;
    }

    .my-thoughts {
        margin-bottom: 0;
    }

    .my-thoughts-article:first-child {
        margin-right: 47px;
    }

    .my-thoughts img {
        margin-bottom: 45px;
    }

    .date {
        font-size: 25px;        
    }

    .my-thoughts h3 {
        font-size: 38px;
        margin: 60px 0 35px 0;
    }

    .my-thoughts h4 {
        font-size: 30px;
    }

    .more-thoughts {
        font-size: 25px;
    }

    .skill-container {
        width: 20%;
        flex-grow: 1;
    }

    .skills h3,
    .skills ul {
        font-size: 25px;
    }

    .icon.red {
        height: 150px;
        width: 150px;
        margin: 15px 40px 0 40px;
    }
    
    .icon-img.red {
        height: 55px;
        width: 55px;
        
    }
    
    .icon-text {
        font-size: 25px;
    }

    footer h2 {
        font-size: 38px;
        margin: 70px 0 15px 0;
    }

    footer li {
        font-size: 30px;
    }
}

@media (max-width:300px) {
    .icon-text {
        display: none;
    }
}